body {
  background-image: url("../img/background.png"); 
}

h1, h2, h3 {
  text-align: center;
}

.through {
  text-decoration: line-through;
 font-style: italic;
}

.overline {
  text-decoration: overline;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  font-style: oblique;
}

.back_black {
  background-color: black;
  color: white;
}

.dark-green {
  background-color: darkgreen;
}

.yellow {
 background-color: yellow;
}

.orange {
  background-color: goldenrod;
}

.red {
  background-color: brown;
}

.grey {
  background-color: grey;
}

div {
  border: 3px ridge mediumvioletred;
  border-width: 5px 15px 15px 15px;
  border-radius: 20px;
  margin: 35px;
}
